@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cardo-Regular';
	src:url('../fonts/Cardo-Regular.ttf');
}
@font-face {
	font-family: 'Cardo-Italic';
	src:url('../fonts/Cardo-Italic.ttf');
}
@font-face {
	font-family: 'Cardo-Bold';
	src:url('../fonts/Cardo-Bold.ttf');
}

@font-face {
  font-family: 'Neutra Display';
  src:url('../fonts/NeutraDisp-Bold.otf');
}

@font-face {
  font-family: 'Neutra Display Thin Alt';
  src:url('../fonts/NeutraDisp-MediumAlt.otf');
}


.page-header > .page-header-brand {
  padding: 20px;
  display: block;
}

.borsetta-bg {
  background-color: #1E393D;
  color: white;
}

body {
  font-family:  'Neutra Display Thin Alt', 'Helvetica' , 'Arial';
  padding: 0;
  margin: 0;
  fill: currentColor;
  
}

svg {
  fill: currentColor;
}

.borsetta .navbar .navbar-nav li >a, .breadcrumbs, .borsetta .nav.navbar-nav{
  font-family: 'Neutra Display Thin Alt';
  font-size: .9rem;
  text-transform: uppercase;
}

.breadcrumbs::before {
  content: '<|>';
  position: absolute;
  left: -20px;
}

.navbar, .navbar .navbar-nav li.menu-item-has-children .sub-menu,
.borsetta.right-panel header#header.header,
aside.borsetta.left-panel, .borsetta .navbar, .borsetta .navbar .navbar-nav li.menu-item-has-children .sub-menu{
  background-color: #1E393D;
  color: white;
}

.menu-title img.user-avatar {
  height: 40px;
  width: 55px;
  margin-bottom: 20px;
}

.menu-title .avatar-label{
  color: white;
  padding-top: 12px;

}

.menu-title .avatar-label p, .menu-title .avatar-label p > small {
  font-family: 'Neutra Display Thin Alt';
  font-size: .8rem;
  text-transform: none;
  color: white;
  padding: 0;
  margin: 0;
  line-height: .9rem;
}

.menu-title .avatar-label h6 {
  text-transform: none;
  font-family: 'Neutra Display Thin Alt';
  color: white;
  padding: 0;
  margin: 0;
  line-height: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.borsetta .navbar .navbar-header {
  background-color: #1E393D;
  margin-left: -25px;
  width: 120%;
}

.borsetta .container-fluid {
  background: #E8DBCB;
}

.borsetta .header-left .dropdown .dropdown-toggle {
  color: white;
}

.open .borsetta .navbar .navbar-header {
  margin-left: -35px;
  width: 375%;
}

.borsetta .menutoggle {
  position: absolute;
  background-color: rgba(45, 153, 153, .7);
}

.open .borsetta a#menuToggle.menutoggle {
  height: 28px;
  width: 28px;
  font-size: 14px;
  line-height: 30px;
}

.borsetta.right-panel header#header.header .search-trigger {
  color: white;
}

.borsetta-page-container {
  min-height: 100vh;

  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(1, #E8DBCB)
);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E8DBCB 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E8DBCB 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E8DBCB 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E8DBCB 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #E8DBCB 100%);
}

.page-header .right-menu > * {
  margin: .75rem .5rem;
  cursor: pointer;
}

img.borsetta-logo { 
  fill: #ffffff;
  stroke: #ffffff;
  width: 100px;
  height: 80px;
}

svg.borsetta-logo {
  fill: #ffffff;
  stroke: #ffffff;
}

.borsetta-subheader { 
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  letter-spacing: .3rem;
  line-height: 2.2rem;
}

.login svg.borsetta-logo {
  fill: #1E393D;
  padding-top: 6rem;
  width: 40rem;
  max-width: 80%;
  padding-bottom: 0;
  margin: auto;
}

svg.borsetta-menu { 
  fill: #ffffff;
  stroke: #ffffff;
  width: 32px;
  height: 32px;
  margin: .25rem;
  cursor: pointer;
}

img.borsetta-icon {
  fill: #ffffff;
  stroke: #ffffff;
  width: 65px;
  height: 80px;
  margin-left: -8px;
}

.borsetta-button {
  width: 85%;
  height: 6rem;
  padding: 1.25rem;
  margin:1.5rem;
  max-width: 40rem;
  border: 1px solid #1E393D;
  background-color:  #1E393D;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .3rem;
  line-height: 2.2rem;
  color: white;
  line-height: 1rem;
  text-transform: uppercase;
}

input.borsetta-input {
  width: 85%;
  height: 6rem;
  padding: 2.5rem;
  margin:1.5rem;
  max-width: 40rem;
  border: 1px solid #1E393D;
  background-color:  rgba(49, 57, 58, .2);
  /* text-align: center; */
  font-size: 2.2rem;
  letter-spacing: .3rem;
  line-height: 2.2rem;
  color: #1E393D;
  line-height: 2.2rem;
}

.borsetta-button.secondary {
  background-color:  rgba(45, 153, 153, .2);
  color: #1E393D;
}

.borsetta-button:hover {
  background-color:  #3D757D;
  color: white;
}


.footer {
  color: #1E393D;
  margin-top: 6rem;
  width: 100%;
  height: 3.75rem; /* Set the fixed height of the footer here */
  line-height: 3.75rem; /* Vertically center the text there */
}

.footer::after {
  content: ' ';
  
}

@media only screen and (max-width: 600px) {
  body {
   
  }

  .footer {
    height: 1.5rem; /* Set the fixed height of the footer here */
    line-height: 1.5rem; /* Vertically center the text there */
    margin-top: 6rem;
  }

  .borsetta-page-container .borsetta-subheader {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
  }
  
  
  .borsetta-button {
    font-size: 0.8rem;
    font-weight: bold;
    height: 4rem; 
    margin:0.8rem;
  }

  input.borsetta-input {
    width: 85%;
    height: 4rem;
    padding: 1.25rem;
    margin:0.75rem;
    max-width: 40rem;
    border: 1px solid #1E393D;
    background-color:  rgba(49, 57, 58, .2);
    /* text-align: center; */
    font-size: 1.5rem;
    letter-spacing: .3rem;
    line-height: 1.6rem;
    color: #1E393D;
    line-height: 1rem;
  }
}
